#svg_front_container, #svg_container
{
	position: absolute;
	margin: auto;
	width:100%;
}

#container
{
	position: relative;
	width:100%;
	height:600px;
}
#desc
{
	position: relative;
	float:right; 
	margin-top:80px;
	padding:auto;
}